konlpy
fasttext-wheel
requests         # 뉴스 크롤링 시 HTTP 요청용
beautifulsoup4   # 뉴스 크롤링 시 HTML 파싱용
lxml             # HTML 파싱 성능 향상을 위해 (선택)
pandas           # 데이터 처리용 (필요하면)
optuna
scikit-learn
transformers[torch] 
scikit-learn
fastapi==0.110.0
uvicorn==0.29.0
fugashi[unidic-lite]
accelerate