body,
html {
  height: 100%;
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}

.app-container {
  max-width: 412px;
  height: 915px;
  margin: auto;
  background-color: #f1f2eb; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
}