.patient-con.game-result-area {
  padding: 0 34px;
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 35px;
  color: #054e26;
}

.greeting {
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 0.02em;
}

.game-sum-score-con {
  background-color: #8aa899;
  color: #f7f9f9;
  border-radius: 10px;
  font-size: 1.75rem;
  font-weight: 600;
  height: 80px;
  padding: 17px;
}

.result-number {
  color: #054e26;
  font-size: 3rem;
  font-weight: 900;
}

.result-text {
  color: #80958a;
  font-size: 2rem;
  font-weight: 900;
}

.btn-patient {
  width: 100%;
  background-color: #6c9a8b;
  border: none;
  color: #f7f9f9;
  font-weight: 700;
  font-size: 1.8rem;
  padding: 17px 0;
  border-radius: 8px;
  user-select: none;
  transition: background-color 0.3s ease;
}

.btn-patient:hover {
  background-color: #88c7b3;
}
